<!doctype html>
<html ng-app="Fayde" ng-csp>
	<head>
		<meta charset="utf-8">

		<link href="styles/main.css" rel="stylesheet">
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="scripts/app.js"></script>
		<script src="scripts/page/controller.js"></script>
		<script src="scripts/page/service.js"></script>

	</head>
	<body>
		<header>
			<h1>Angular</h1>
		</header>
		<div style="width:200px" ng-controller="PageController">
			<input type="text" ng-model="name"><br><br><br>
			<button id="button" ng-click="onclick(name)"> Say Hi to {{name}} from tab</button><br>
			<button id="button" ng-click="sayHi()"> Say Hi from panel</button><br>
			<button id="button" ng-click="sayHiToName(name)"> Say Hi to {{name}} from panel</button>
		</div>
	</body>
</html>
